/* First ensure that all HTML elements have the box-sizing property set to border-box. This makes sure that the padding and border are included in the total width and height of the elements. */
* {
    box-sizing: border-box;
    /* border: 1px dashed red; */
}

:root {
    
    --h1_s: 18.0vw;
    --h1_m: 18.0vw;
    --h1_l: 12.0rem;
    --h1_xl: 12.0rem;

    --h2_s: 12.0vw;
    --h2_m: 10.0vw;
    --h2_l: 8.0rem;
    --h2_xl: 8.0rem;

    --h3_s: 4.8vw;
    --h3_m: 4.8vw;
    --h3_l: 2.5rem;
    --h3_xl: 2.5rem;

    --h4_s: 5.0vw;
    --h4_m: 4.0vw;
    --h4_l: 2.5rem;
    --h4_xl: 2.5rem;

    --p_s: 5.0vw;
    --p_m: 3.0vw;
    --p_l: 2.0rem;
    --p_xl: 2.0rem;

    --a_s: 10.0vw;
    --a_m: 8.0vw;
    --a_l: 6.0rem;
    --a_xl: 6.0rem;

    --headline_text_s: 5.5vw;
    --headline_text_m: 5.5vw;
    --headline_text_l: 3rem;
    --headline_text_xl: 3rem;

    --border-radius: max(0.2vw, 24px);
    --border-radius_s: 24px;

    --shadow_inner_blur: 64px;
    --shadow_outer_blur: 8px;

    --headline_height_s: 70vw;
    --headline_height_m: 70vw;
    --headline_height_l: min(90vw, 50vh);

    --btn_listen_height_s: 50vw;
    --btn_listen_height_m: 50vw;
    --btn_listen_height_l: min(70vw, 300px);

    --max_width: 860px;
    --max_width_glass: 1050px;

    --bg_fade_s: 6.0vw;/*16px;*/
    --bg_fade_m: 10.0vw;/*60px;*/
    --bg_fade_l: 12.0vw;/*120px;*/
    --bg_fade_xl: 2.0rem;
    
    --row_padding: 32px;
    --row_padding_s: 24px;
    --column_padding: 32px;
    --column_padding_s: 8px;

    --glass_first_margin: 30vh;
    --glass_last_margin: 15vh;
    --glass_middle_margin: 10vh;

    --col_card_hover: #ffffff11;

    --card_header_margin_s: 0.5rem;
    --card_header_margin_m: 0.5rem;
    --card_header_margin_l: 0.5rem;
    --card_header_margin_xl: 0.5rem;

    --pitch_header_margin_s: 0.5rem;
    --pitch_header_margin_m: 0.5rem;
    --pitch_header_margin_l: 0.5rem;
    --pitch_header_margin_xl: 0.5rem;

    --col_text: #f0eff0;
    --col_text_transparent: #f0efeb44;
    --col_text_shadow: #181d1630;
    --col_hypertext: #ffffff;
    --col_background: #181d16;
    --col_primary: #c99d5e;
    --col_primary_transparent: rgba(255, 191, 99, 0.733);
    --col_secondary: #6ca2a3;
    --col_secondary_transparent: #a4fdffbb;
    --col_accent: #73a07f;
    --col_primary_bright: #ffbf63;
    --col_secondary_bright: #a4fdff;
    --col_accent_bright: #a8ffbf;
    --col_accent_bright_transparent: #a8ffbf66;
    --col_shadow_outer: rgba(62, 11, 11, 0.25);
    --col_shadow_inner: #c99d5e88;
    --col_shadow_glass_outer: rgba(0, 0, 0, 0.25);
    --col_shadow_glass_inner: rgba(255, 255, 255, 0.25);

    --col_bg_fade_s: #ffffff33;
    --col_bg_fade_m: #ffffff44;
    --col_bg_fade_l: #ffffff66;
    --col_bg_fade_xl: #ffffff; /* #857b84 */
    /* --col_bg_fade_xl: rgb(240, 234, 228); */
    /* --col_bg_fade_xl: rgb(240, 0, 0); */

    scroll-behavior: smooth;
}


body {
    margin: 0;
}

img {
    image-rendering:optimizeSpeed;
}

html, body {
    background-color: var(--col_bg_fade_xl); /* Sets the background color for the entire viewport */
    margin: 0;
    padding: 0;
    height: max-content;
    width: 100%;
    /* border: 1px dashed green; */
}

canvas {
    height: 0;
}

.glass {
    background-color: rgba(0,0,0, 0.2);
    border: 1px solid #F0EFEB88;
    backdrop-filter: blur(var(--shadow_outer_blur));
    box-shadow: inset 0px 0px 50px var(--col_shadow_glass_inner), 0px 0px 50px var(--col_shadow_glass_outer);
    border-radius: var(--border-radius);
    height: max-content;
    margin: 10vh auto;
    width: 100%;
}

.glass-first {
    margin-top: var(--glass_first_margin);
}

.glass-last {
    margin-bottom: var(--glass_last_margin);
}

.row {
    margin: var(--row_padding_s);
    padding: var(--row_s);
    /* max-width: var(--max_width); */
    border: 1px solid var(--col_text_transparent);
    border-radius: var(--border-radius_s);
    box-shadow:  0px 4px var(--shadow_outer_blur) var(--col_shadow_outer);
}

[class*="col-"] {
    float:left;
    padding: var(--column_padding_s); /*10px;*/
    padding: 8px;
    /* border: 1px dashed rgba(255, 0, 0, 0.5); */
}

.portrait {
    width: 100%;
    height: var(--headline_height_s);
    aspect-ratio: 0.2;
    border-radius: var(--border-radius);
    border: 1px solid var(--col_primary_bright);
    background: url('img/portrait1.jpg');
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px var(--shadow_inner_blur) var(--col_shadow_inner), 0px 4px var(--shadow_outer_blur) var(--col_shadow_outer);
    background-size: cover;
    background-position: 60% 20%;
}

.outer-portrait
{
    padding: 0vw;
}

.portrait:hover {
    background: url('img/portrait3.jpg');
    background-size: cover;
}

.card-header {
    /* u r d l */
    margin: var(--card_header_margin_s) var(--card_header_margin_s) 0px var(--card_header_margin_s);
}

.card {
    background: transparent;
    transition: background 0.5s;
}

.card:hover {
    background: var(--col_card_hover);
    /* box-shadow: inset 0px 0px 24px var(--col_bg_fade_s); */
    transition: background 0.5s;
}

/* Music player components*/
audio {
    display: flex;
    width: 100%;
    margin: auto;
}

#div-listen {
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(20deg, var(--col_primary_transparent), var(--col_secondary_transparent)); */
    background-image: linear-gradient(20deg, var(--col_secondary_transparent), var(--col_accent_bright_transparent));
    -webkit-text-stroke: 1px var(--col_primary_bright);
    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px var(--shadow_inner_blur) var(--col_primary_transparent), 0px 4px var(--shadow_outer_blur) var(--col_shadow_outer);
    border: 1px solid var(--col_primary_bright)
}

#div-listen-glow
{
    margin: auto;
    max-width: 50em;
    box-shadow: 0px 0px 30vw #a4fdff44,
        0px -50vw 100vw #a4fdff11,
        0px -25vw 50vw #a4fdff11;
    border-radius: var(--border-radius);
}

#oscilloscope {
width: 90%;
height: 90%;
margin: 5%;
box-shadow: inset 40px 0px 80px var(--col_text_transparent),
    inset -40px 0px 80px var(--col_text_transparent),
    inset 16px 0px 16px var(--col_text_transparent),
    inset -16px 0px 16px var(--col_text_transparent);
border-radius: var(--border-radius);
mix-blend-mode: hard-light;
}

/* Mobile */
[class*="col-"] {
    width: 100%;
}

.row-audio {
    border-radius: min(2vw, 4px);    
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.audio {
    padding: 0px;
    border-radius: min(vw, 4px);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

/* "The columns inside a row are all floating to the left, and are therefore taken out of the flow of the page, and other elements will be placed as if the columns do not exist. To prevent this, we will add a style that clears the flow. */
.row::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
  font-family: "Suez One", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing:0.00rem;
  margin: 12.0rem 0 12.0rem 0;
  color: transparent;
  background-image: linear-gradient(20deg, var(--col_secondary_transparent), var(--col_accent_bright_transparent));
  -webkit-text-stroke: 1px var(--col_primary_bright);
  background-clip: text;
  font-size: var(--h1_s);
  text-align: center;
  text-shadow: 0px 0px 160px var(--col_primary_bright),
    0px 0px 320px white;
  transition: color 0.5s;
}

h1:hover {
    transition: color 0.5s;
    color: var(--col_accent_bright);
}

h2 {
    font-size: var(--h2_s);
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0% 0% 2% 0%;
    color: var(--col_text);
    -webkit-text-stroke: 2px var(--col_text_transparent);
    text-shadow: 0px 4px 4px var(--col_text_shadow);
}

h3 {
    font-size: var(--h3_s);
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 5% 0% 1% 0%;
    letter-spacing: 0.05em;
    color: var(--col_text);
    text-shadow: 0px 4px 4px var(--col_text_shadow);
}

h4
{
    font-size: var(--h4_s);
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    margin: var(--column_padding_s);
    font-style: normal;
    color: var(--col_text);
    text-shadow: 0px 4px 4px var(--col_text_shadow);
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: var(--p_s);
    color: var(--col_text);
    text-shadow: 0px 0px 32px var(--col_text_shadow);
    text-align: center;
}

.btn-email {
    font-size: var(--a_s);
    font-family: "Reenie Beanie", cursive;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    -webkit-text-stroke: 2px var(--col_text_transparent);
    text-shadow: 0px 4px 4px var(--col_text_shadow);
    color: var(--col_hypertext);
    padding: 0.5rem 1.5rem 1.0rem 1.5rem;
    max-width: var(--max_width);
    border: 1px solid var(--col_text_transparent);
    border-radius: var(--border-radius_s);
    box-shadow:  0px 4px var(--shadow_outer_blur) var(--col_shadow_outer);
    background-color: rgba(255,255,255, 0.05);
    width: 60%;
    margin: 3rem auto 2rem auto;
    display: table;
    transition: background 0.5s;
}

.btn-email:hover {
    background: var(--col_accent_bright_transparent);
    transition: background 0.5s;
}

.subtitle {
    color: #f0efebdf;
    font-size: 4.0vw;
}

.outside-glass {
    margin: var(--row_padding);
    text-shadow: 1px 1px 8px black,
    -1px -1px 8px black;
    /* font-weight: 500; */
    color: white;
}

a {
    color: var(--col_hypertext);
}

.pitch {
    text-align: right;
    margin: 0px var(--pitch_header_margin_s) var(--pitch_header_margin_s) var(--pitch_header_margin_s);
}

/* .quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-medium {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.quicksand-bold {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  } */

.headline-text {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: var(--headline_text_s);
    color: var(--col_text);
    text-shadow: 0px 0px 32px var(--col_text_shadow);
    text-align: center;
    line-height: 50vh;
}

#bg {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('img/bg1.jpg');
    box-shadow: inset var(--bg_fade_s) var(--bg_fade_s) var(--bg_fade_s) var(--col_bg_fade_s), inset calc(0px - var(--bg_fade_s)) calc(0px - var(--bg_fade_s)) var(--bg_fade_s) var(--col_bg_fade_s);
    background-attachment: fixed;
}

hr {
    margin: 0% 10% 0% 10%;
    border: 1px solid var(--col_text_transparent);
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    h1 {font-size: var(--h1_m);}
    h2 {font-size: var(--h2_m);}
    h3 {font-size: var(--h3_m);}
    h4 {font-size: var(--h4_m);}
    p {font-size: var(--p_m);}
    .btn-email {font-size: var(--a_m); margin: 5rem auto 3rem auto;}
    .subtitle { font-size: 3.0vw;}
    .portrait { aspect-ratio: 1.0; height: var(--headline_height_m); background-position: 60% 20%;}
    .glass {border-radius: var(--border-radius);}
    .headline-text { font-size: var(--headline_text_m);}
    #bg {box-shadow: inset var(--bg_fade_m) 0px var(--bg_fade_m) var(--col_bg_fade_m),
        inset calc(0px - var(--bg_fade_m)) 0px var(--bg_fade_m) var(--col_bg_fade_m);}
    .row {border-radius: var(--border-radius); margin: var(--row_padding); padding: var(--row_padding);}
    .row-audio {margin: 0px;}
    .card-header {margin: var(--card_header_margin_m) var(--card_header_margin_m) 0px var(--card_header_margin_m);}
    .pitch {text-align: left; margin: 0px var(--pitch_header_margin_m) var(--pitch_header_margin_m) var(--pitch_header_margin_m);}
    .outer-portrait { padding: 0rem; }
}

/* Desktop */
@media only screen and (min-width: 1080px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
h1 {font-size: var(--h1_l);}
h2 {font-size: var(--h2_l);}
h3 {font-size: var(--h3_l);}
h4 {font-size: var(--h4_l);}
p {font-size: var(--p_l);}
.btn-email {font-size: var(--a_l);}
.portrait { aspect-ratio: 1.0; height: var(--headline_height_l);}
.glass {max-width: var(--max_width_glass);}
.headline-text { font-size: var(--headline_text_l);}
#bg {box-shadow: inset var(--bg_fade_l) 0px var(--bg_fade_l) var(--col_bg_fade_l), inset calc(0px - var(--bg_fade_l)) 0px var(--bg_fade_l) var(--col_bg_fade_l);}
#div-listen { max-width: 50em; margin: auto; }
.row-audio { max-width: 50em; margin: auto;}
.subtitle { font-size: 1.9vw;}
}

/* Beyond */
@media only screen and (min-width: 1573px) {
    .glass {max-width: var(--max_width_glass);}
    #bg {max-width: 1573px; margin: auto; box-shadow: 
        inset var(--bg_fade_xl) var(--bg_fade_xl) var(--bg_fade_xl) var(--col_bg_fade_xl),
        inset calc(0px - var(--bg_fade_xl)) calc(0px - var(--bg_fade_xl)) var(--bg_fade_xl) var(--col_bg_fade_xl),
        inset var(--bg_fade_l) 0px var(--bg_fade_l) var(--col_bg_fade_l),
        inset calc(0px - var(--bg_fade_l)) 0px var(--bg_fade_l) var(--col_bg_fade_l);}
    /* #bg {max-width: 1573px; margin: auto; box-shadow: inset var(--bg_fade_xl) var(--bg_fade_xl) var(--bg_fade_xl) var(--col_bg_fade_xl), inset calc(0px - var(--bg_fade_xl)) calc(0px - var(--bg_fade_xl)) var(--bg_fade_xl) var(--col_bg_fade_xl), inset var(--bg_fade_xl) var(--bg_fade_xl) var(--bg_fade_xl) var(--col_bg_fade_xl), inset calc(0px - var(--bg_fade_xl)) calc(0px - var(--bg_fade_xl)) var(--bg_fade_xl) var(--col_bg_fade_xl);} */
    h1 {font-size: var(--h1_xl);}
    h2 {font-size: var(--h2_xl);}
    h3 {font-size: var(--h3_xl);}
    h4 {font-size: var(--h4_xl);}
    p {font-size: var(--p_xl);}
    .btn-email {font-size: var(--a_xl);}
    .headline-text {font-size: var(--headline_text_xl);}
    #div-listen { max-width: 50em; margin: auto; }
    .subtitle { font-size: 2rem;}

    
}