* {
    border: 0px solid rgba(0, 0, 0.3);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #0D0;
    background-color: #e8c6ab;
    min-width: 414px;
}

h1 {
    /*font-family: 'Cormorant', serif;*/
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    font-weight: 300;
}

h3 {
    font-family: 'Caveat', serif;
    font-size: 2rem;
}

h2 {
    font-family: 'Bitter', serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

h4 {
    font-family: 'Bitter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-family: 'Bitter', sans-serif;
    font-size: 1rem;
}

.h-layout-inner li {
    font-family: 'Bitter', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    list-style-type: none;
}

.list-des {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 1rem;
}

ul {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.page-banner-container {
    /* Main banner elements: text on top of background
     * Actual background depends on which page the banner is for */
    /*height: 40rem;*/
    /*background-color: #223;*/
    text-align: center;
    color: #FFF;
    background-size: cover;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#main-page-banner {
    background-image: url("/img/E_PDXHighway2.png");
    height: 40rem;
    padding: 0 5%;
}

.page-banner h1 {
    font-style: bold;
    font-size: 5rem;
    padding-top: 11rem;
    line-height: 7rem;
}

.page-banner h2 {
    line-height: 4rem;
    font-size: 1.5rem;
    font-family: 'Bitter', serif;
}

/*      ***NAVIGATION BAR        */
.navbar {
    background-color: rgba(0, 0, 0, 0.0);
    position:fixed;
    top: 0px;
    z-index: 200;
    width: 100%;
    height: 3rem;
}

.navbar ul {
    list-style-type: none;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    color: #FFF;
    float: right;
}

.navbar li {
    display: inline-block;
    margin: 0 1rem;
}

.navbar a:link, a:visited {
    text-decoration: none;
    color: #FFF;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a:active {
    color: #AAA;
}

.navbar-logo {
    display: inline-block;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    padding: 5px;
}


.me-portrait-container {
    position: absolute;
    width: 100%;
    top: 30rem;
    text-align: center;
    z-index: 100;
    min-width: 414px;
}

.me-portrait {
    border-radius: 100%;
    border: 5px solid #f0d5c2;
    display: inline;
    left: 30%;
    max-width: 20rem;
    max-height: 20rem;
    width: 50%;
    height: 50%;
}


/*      ***TEXT SECTIONS         */

.text-section {
    background-color: #f0d5c2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 3rem 5%;
    max-width: 70rem;
}

.text-section h1 {
    font-style: bold;
    font-size: 3rem;
    padding-top: 7rem;
    line-height: 7rem;
    color: #502a2a;
}

.text-section h2 {
    line-height: 3rem;
}

.text-section p {
    color: #604a2a;
    line-height: 2rem;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Bitter', serif;
}


/*      ***SLIDESHOWS        */

.slideshow2 {
    position: relative;
    bottom: 240px;
}


.slideshow1 img, .slideshow2 img {
    border-radius: 100%;
    position: absolute;
    display: inline;
    /*margin: 0 5%;*/
    object-fit: cover;
    width: 240px;
    height: 240px;
    z-index: 102;
}

.slideshow1 img {
    border: 8px solid #414f3b;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.slideshow2 img {
    border: 8px solid #363847;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /*position: relative;*/
}


/*      ***H-LAYOUTS       */
.h-layout-outer {
    width: 88%;
    /*border: 1px solid pink;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    max-width: 60rem;
    display: flex;
}

.h-layout-inner {
    background-color: rgba(240, 213, 194, 0.3);
    min-width: 20rem;
    min-height: 480px;
    width: 50%;
    padding: 0 2rem 1rem 2rem;
    /*margin-left: auto;
    margin-right: auto;*/
    /*display: inline-block;*/
    bottom: 0;
}

.h-layout-banner {
    background-color: #2e4543;
    width: 100%;
}

.h-layout-inner h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h-layout-inner p {
    line-height: 1.25rem;
}

.h-layout-music {
    background-color: #414f3b;
    /*border-radius: 2rem 0 0 2rem;*/
    padding-right: 8rem;
    padding-left: 1rem;
    margin-bottom: 60px;
    text-align: left;
}

.h-layout-music p, .h-layout-code p {
    /*text-align: justify;*/
    /*width: 100%;*/
}

.h-layout-code {
    background-color: #363847;
    /*border-radius: 0 2rem 2rem 0;*/
    padding-left: 8rem;
    padding-right: 1rem;
    margin-top: 60px;
    text-align: right;
}

.h-layout-code p {
    /*position: relative;*/
    /*left: 30%;*/
}

/*      ***MUSIC CONTAINERS      */
.mus-container-full {
    background-color: #f00;
    width: 50%;
    margin: 0 auto;
}

.mus-track-container {
    margin: 0 auto;
    border-radius: 3%;
    display: inline;
}

/*      ***BUTTONS       */
/* Main button class */
.button {
    border: 2px solid;
    /*border-radius: 0.3rem;*/
    padding: 10px;
    margin-top: 0rem;
    display: inline-block;
    -webkit-transition: all 200ms;
}

.day-button {
    border-color: #604f4f;
    color: #604f4f;
}

.day-button:hover {
    background-color: #604f4f;
    color: #e0d2d2;
}

.night-button{
    border-color: #fff;
    color: #fff;
}

.night-button:hover {
    background-color: #fff;
    color: #000;
}
/*      ***PARALLAX SCROLLING BACKGROUNDS        */
.parallax-bg {
    /*height: 40rem;*/
    width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pbg-fall {
    background-image: url("/img/testBG1.jpg");
}

#pbg-winter {
    background-image: url("/img/testBG2.jpg");
}

#pbg-seasons {
    background-image: url("/img/E_CampusSeasons2b.jpg");
}

